body { 
    background-color: rgba(100, 149, 237, 0.15);
}

.wrapper { 
    margin: 0 auto;
    width: 80vw;
}

.page-title {
    font-family: bd-supper, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: cornflowerblue;
    margin-top: 75px;
    font-size: 120px;
    width: 400px;
    line-height: 80%;
    letter-spacing: -7px;

}

.body-text {
    color: black;
    font-size: 20px;   
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal; 
}


span {
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: italic;
}

.float-left {
float: left;
}

.section-01 {
    color: black;
    font-size: 20px;   
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal; 
    float: right;
}

.clearfix {
    overflow: auto;
}

.images {
    border-color: cornflowerblue;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 0.75em;
    margin: 30px;
}

    .underline { 
    text-decoration: none;
    border-bottom: cornflowerblue 0.1em dotted;
}

.float-right {
    margin-left: 500px;
    padding: 20px;
    margin-right: initial;
}

.float-rightt { 
    float: right;
}

.section-04 {
    color: black;
    font-size: 20px;   
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal; 
    float: left;
}

a:link { color: cornflowerblue;}
a:visited { color: blue;}
a:hover { color: fuchsia; }