:root { 
    --font-size: 16px;
    --spacing: 15px; 
    --fig-caption: 12px;
    --purple: #CE96C9; 
    --off-white: #E4E5DB; 
    --red: #F90C01;
    --orange: #FD4401;
    --lime: #C6DD09; 
    --margins: 25px;
    
}

@media (min-width: 395px) {
:root { 
    --font-size: 20px;
    --spacing: 25px;
    --fig-caption: 14px; 
    } 

    p { max-width: 75ch; }
}


/* FONTS */

@font-face { font-family: "Karrik-Regular";
    src: url(../fonts/Karrik-Regular.otf) format('opentype'); }

@font-face { font-family: "Avara-Italic";
    src: url(../fonts/Avara-BoldItalic.otf) format('opentype');}





/* STRUCTURE + CONTENT */
/* aside, section, nav, footer, header */

body { background-color: var(--off-white); 
       display: flex; 
       flex-direction: column; 
       flex-wrap: wrap; }

aside { padding: var(--spacing); }

section { padding: var(--margins) var(--spacing) var(--margins) var(--spacing); 
          width: 100%; }


section:nth-child(3) { background-color: var(--purple); }
section:nth-child(4) { background-color: var(--lime); }
section:nth-child(5) { background-color: var(--purple); }
section:nth-child(6) { background-color: var(--orange); }

img { border-width: 2px; 
    border-style: dashed; 
    margin-right: var(--spacing); 
    margin-top: var(--spacing);
    margin-bottom: 0;
    max-width: 360px;  }



span { color: var(--purple); }

div { padding: var(--margins) var(--spacing) var(--margins) var(--spacing); }

a:hover { text-decoration: underline; }




/* TREATMENTS */

h1 { font-size: calc(var(--font-size) * 1.5);
    font-family: 'Avara-Italic';
    text-align: center;
    padding: var(--spacing); }

p { font-family: 'Karrik-Regular'; 
    max-width: 45ch; }

figcaption { font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fig-caption); 
    margin-top: 0; 
    margin-bottom: var(--spacing);
    line-height: 120%; }



.border-purple { border-color: var(--purple); }
.border-off-white { border-color: var(--off-white); }
.border-orange { border-color: var(--orange); }
.border-lime { border-color: var(--lime); }






