:root {
    --font-size: 16px;
    --spacing: 20px;
    --bg-color: #eeeee4; 
}

@media (min-width: 400px) {
    p {
        font-size: 20px;
    }
}


/* FONTS */

@font-face {
    font-family: "Karrik-Regular";
    src: url(../fonts/Karrik-Regular.otf) format('opentype');
        
}

@font-face {
    font-family: "Avara-Italic";
    src: url(../fonts/Avara-BoldItalic.otf) format('opentype');
        
}


/* CONTENT/ STRUCTURE */

body {
    font-size: var(--font-size);

}

p {
    font-family: "Karrik-Regular";
}

.header {
    width: 100vw;
    height: 2em;
    background-color: #E8E8DD;
    border-bottom: 0.5em solid black;
}

.header-text {
    font-family: "Avara-Italic";
    color: #FC010A;
    font-size: 20px;
    text-align: center;
}

