:root {
    --font-size: 16px;
    --spacing: 20px;
    --bg-color: #eeeee4; 
    --pink: #E25BC1;
    --blue: #9BB4D9;
}

@media (min-width: 400px) {
    p {
        font-size: 20px;
    }
}


/* FONTS */

@font-face {
    font-family: "Karrik-Regular";
    src: url(../fonts/Karrik-Regular.otf) format('opentype');
        
}

@font-face {
    font-family: "Avara-Italic";
    src: url(../fonts/Avara-BoldItalic.otf) format('opentype');
        
}


/* CONTENT/ STRUCTURE */

body {
    font-size: var(--font-size);
    background-color: var(--bg-color);

}

p {
    font-family: "Karrik-Regular";
}

/* CLASSES */

.collection {
    width: 100vw;
    height: 2em;
    background-color: #E8E8DD;
    border-bottom: 0.05em solid black;
    position: fixed;
    top: 0em;
}

.collection-title {
    font-family: "Avara-Italic";
    color: #FC010A;
    font-size: 20px;
    text-align: center;
    padding-top: 0.25em;
}

.body {
    margin: 2em auto 0 auto;
    width: 90vw;
}