:root {
    --font-size: 16px;
    --spacing: 20px;
    --bg-color: #eeeee4; 
}

@media (min-width: 300px) {
    body {
@media (min-width: 400px) {
    p {
        font-size: 20px;
        background-color: #D9EBB5;
    }
}


/* fonts */

@font-face {
    font-family: "Karrik-Regular";
    src: url(../fonts/Karrik-Regular.otf) format('opentype');
        
}

@font-face {
    font-family: "Avara-Italic";
    src: url(../fonts/Avara-BoldItalic.otf) format('opentype');
        
}


/* content */

body {
    font-size: var(--font-size);

}

