@font-face {
    font-family: "Cardinal-Photo-Medium-Italic";
    src: url(/fonts/cardinalphoto-mediumitalic-TRIAL.otf) format('opentype');
        
}

@font-face {
    font-family: "Cardinal-Photo-Italic";
    src: url(/fonts/cardinalphoto-italic-TRIAL.otf) format('opentype'); 
}

body {
    background-color: rgba(236, 240, 228, 0.62);
}

.wrapper { 
    margin: 0 auto;
    width: 80vw;
}

.love-letters {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: "Cardinal-Photo-Italic";
    font-size: 100px;
    position: fixed;
    right: -25px;
    bottom: 0px;
    top: 0px;
    color: #D9EBB5;
}

.body-text {
    color: black;
    font-size: 20px;   
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal; 
}

span {
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: italic;
}

.section-01 { 
    max-width: 80vw;
    padding: 2em;
    display: flex;
}

.radium-square {
    width: 10em;
    height: 22em;
    background-color: #25E721;
    flex: 1;
    padding: 2em;
}

.radium-text {
    flex: 2;
    padding: 2em;
}