:root { 
    --offwhite: #EAEAE4;
    --red: #FC010A; 
    --lightblue: #A5C8D1; 
    --green: #B4DA69; 
    --fuchsia: #E25BC1;
    --purple: #CE96C9; }


@font-face {
        font-family: "Cardinal-Photo-Medium-Italic";
        src: url(../fonts/cardinalphoto-mediumitalic-TRIAL.otf) format('opentype'); }


body {
    background-color: var(--offwhite);
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: 250px repeat(auto-fill, 250px 50px); 

    grid-template-areas: 
    " .     collectiontitle     ."
    " .     entry01             ."
    " .     entry02             ."
    " .     entry03             ."
    " .     entry04             ."
    " .     entry05             .";

}
 
div:first-child { 
    grid-area: collectiontitle;
}


h1 { 
    font-family: "Cardinal-Photo-Medium-Italic";
    font-size: 60px;
    line-height: 100%;
    align-items: center; 
}

