:root { 
    --offwhite: #EAEAE4;
    --red: #FC010A; 
    --lightblue: #A5C8D1; 
    --green: #B4DA69; 
    --fuchsia: #E25BC1;
    --purple: #CE96C9; }


@font-face {
        font-family: "Cardinal-Photo-Medium-Italic";
        src: url(../fonts/cardinalphoto-mediumitalic-TRIAL.otf) format('opentype'); }


